.container {
  width: 380px;
  margin: 0 auto;
}

.form {
  margin-top: 140px;
  & h4 {
    font-size: 40px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.87);
  }
}

.formInput {
  margin-top: 50px;
}

.submitButton {
  margin-top: 50px;
}
