@import '../../variables.scss';

.listTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 50px;
  color: rgba(0, 0, 0, 0.87);
}

.listCards {
  margin-bottom: 50px;
}

.listItems {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  @media (min-width: $breakpoint_md) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  @media (min-width: $breakpoint_xl) {
    grid-template-columns: repeat(3, 1fr);
    gap: 29px;
  }
  @media (min-width: $breakpoint_xxl) {
  }
}

.listItem {
  min-width: 328px;
  @media (min-width: $breakpoint_md) {
    min-width: 344px;
  }
  @media (min-width: $breakpoint_xl) {
    min-width: 282px;
  }
  @media (min-width: $breakpoint_xxl) {
    min-width: 370px;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
