@import '../../variables.scss';

.wrapper {
  width: 100%;
  padding: 140px 16px 80px;
  margin: 0 auto;
  // background-color: #ccc;
  background-color: $bg;
  // outline: 1px solid red;
  @media (min-width: $breakpoint_md) {
    width: 100%;
    padding: 0 32px;
  }
  @media (min-width: breakpoint_xl) {
    padding: 0 60px;
  }
  @media (min-width: breakpoint_xxl) {
    width: 1170px;
  }
}
