@import '../../../variables';

.button {
  height: 34px;
  border-radius: 80px;
  border: none;
  background-color: $primary;
  cursor: pointer;
  transition: all 0.5s ease 0s;

  &:hover {
    background-color: $btn-hover;
  }
}

.button100 {
  width: 100px;
}

.button120 {
  width: 120px;
}

.disabledButton {
  background-color: $btn-disabled;
  color: rgba(255, 255, 255, 0.87);
}
