.header {
  display: flex;
  align-items: center;
  margin: 0 16px;
}

.headerLogo img {
  display: block;
  margin: 17px 0;
}

.headerButton {
  width: 210px;
  margin-left: 14px;
  display: flex;
  justify-content: space-between;
}
