@import '../../../../variables';

.selectItem {
  margin-top: 7px;
}

.selectItem:first-of-type {
  margin-top: 11px;
}

.selectInput {
  display: none;
}

.selectInput:checked + .selectLabel::after {
  transform: scale(1);
}

// .selectItemContent {
//   display: inline-flex;
// }

.selectLabel {
  display: flex;
  font-size: 16px;
  line-height: 140%;
  align-items: center;
  position: relative;
  // cursor: pointer;
}

.selectInput:checked + .selectLabel::before {
  border: 1px solid $secondary;
}

.selectLabel::before {
  content: '';
  align-self: flex-start;
  flex: 0 0 20px;
  height: 20px;
  border: 1px solid $input-border;
  border-radius: 50%;
  margin: 0 12px 0 0;
  cursor: pointer;
}

.selectLabel::after {
  transition: transform 0.3s ease 0s;
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 12px;
  height: 12px;
  background-color: $secondary;
  border-radius: 50%;
  cursor: pointer;
  transform: scale(0);
}
