/*--breakpoints--*/
$breakpoint_xxl: 2560px;
$breakpoint_xl: 1024px;
$breakpoint_md: 768px;
$breakpoint_sm: 360px;

/*--colors--*/
$primary: #f4e041;
$secondary: #00bdd3;
$bg: #f8f8f8;
$btn-hover: #ffe302;
$btn-secondary: #b4b4b4;
