/*--breakpoints--*/
$breakpoint_xxl: 2560px;
$breakpoint_xl: 1024px;
$breakpoint_md: 768px;
$breakpoint_sm: 360px;

/*--colors--*/
$primary: #f4e041;
$secondary: #00bdd3;
$error: #cb3d40;
$black: rgba(0, 0, 0, 0.87);
$white: #ffffff;
// $bg: #f8f8f8;
$bg: #ccc;
$btn-hover: #ffe302;
$btn-disabled: #b4b4b4;
$input-text: #7e7e7e;
$input-border: #d0cfcf;
