@import '../../variables.scss';

.button100,
.button120 {
  height: 34px;
  border-radius: 80px;
  border: none;
  background-color: $primary;
}

.button100 {
  width: 100px;
}

.button120 {
  width: 120px;
}
